body {
    font-size: 50px;
    text-align: center;
    background: linear-gradient(-450deg, #1028f8, #83bdec, rgba(28, 43, 245, 0.907))
}

button {
    text-align: center;
    border: 5;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    color: white;
    border-radius: 50px;
    background-color: rgb(55, 0, 255);
}

.form-label {
    font-size: 20px;
    text-align: center;
}

input {
    border-radius: 60px;
    padding: 5px;
    max-width: -90px;
    max-height: fit-content;
    width: 300px;
    border: solid 2px rgb(4, 0, 255);
}

nav#menu a:hover{
    color:aliceblue;
    transition: all 0.3s ease;
}

button#botao a:hover{
    color:aliceblue;
    transition: all 0.3s ease;
}
form{
    background-color: #5696df;
    max-width: 300px;
    margin: 0 auto;
    padding: 70px;
    border-radius: 80px;
    box-shadow: 0 0 30px rgb(54, 57, 212);
    text-align: center;
}
a{
    font-size: 25px;
}